<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapport ELIFE Global</title>
    <!-- Intégration de Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 p-6">
    <div class="max-w-3xl mx-auto bg-white p-8 rounded shadow-md">

        <div class="flex p-8" style="justify-content: space-around;">
            <img style="width: 20vw;"
                src="https://res.cloudinary.com/dsmjumzll/image/upload/v1/messages/images/logo_e_life_page-0001_zwsxtc" />
        </div>

        <h1 class="text-2xl font-bold mb-4">Rapport ELIFE Global</h1>

        <!-- Contexte de création et vision au début -->
        <section class="mb-8">
            <h2 class="text-xl font-bold mb-2">Contexte de création et vision au début :</h2>
            <p>ELIFE Global a été officiellement créé en janvier 2022 en tant qu'entreprise technologique ayant pour
                mission de développer des plateformes numériques améliorant le quotidien de millions d'utilisateurs.
                Notre ambition est de concevoir un produit technologique "révolutionnaire" qui transformera la vie de
                ses utilisateurs et fera de nos actionnaires des millionnaires, voire des milliardaires. Notre stratégie
                principale repose sur l'innovation en testant des projets audacieux qui sortent de l'ordinaire. Nous ne
                visons pas la rentabilité immédiate, mais nous travaillons sur plusieurs plateformes innovantes que nous
                déployons progressivement pour nous rapprocher de notre objectif.</p>
        </section>

        <!-- Evolution et Bilan -->
        <section class="mb-8">
            <h2 class="text-xl font-bold mb-2">Evolution et Bilan :</h2>
            <!-- Kitabu -->
            <div class="mb-4">
                <h3 class="text-lg font-semibold mb-2">Kitabu</h3>
                <p>
                    Avant la création officielle de l'entreprise, nous avons déjà un produit en ligne. Il s'agit d'une
                    plateforme de commerce électronique nommée Kitabu qui a été conçue dans le but de révolutionner le
                    commerce électronique au Bénin en rendant les achats divertissants.
                </p>
                <!-- Budget marketing -->
                <p class="mb-1">Budget marketing :</p>
                <ul class="list-disc list-inside mb-2">
                    <li>Nous avons principalement fait de la publicité à travers Facebook Ads. Cela nous a rapporté plus
                        de
                        1000 inscriptions environ et 237 utilisateurs actifs mensuellement. Nous faisons environ 5 posts
                        par
                        mois sur Facebook et nous sponsorisons en moyenne deux parmi eux lorsque nous constatons que le
                        post
                        a attiré du monde.</li>
                </ul>
                <!-- Coût total -->
                <p class="mb-1">Coût total :</p>
                <ul class="list-disc list-inside mb-2">
                    <li>Budget marketing : 100$</li>
                    <li>Hébergement en ligne et autres coûts techniques :
                        <ul class="list-disc list-inside">
                            <li>Heroku Dynos (serveur virtuel d'hébergement) : 7$ / mois</li>
                            <li>Heroku Data for Redis (base de données en mémoire pour le suivi en temps réel des
                                commandes) :
                                ~15$ / mois</li>
                            <li>Heroku Postgres (base de données) : 5$ / mois (4 premiers mois) + 9$ / mois (5 mois) +
                                50$ / mois (4 mois)</li>
                        </ul>
                    </li>
                </ul>
                <!-- Dépense total -->
                <p class="mb-1">Dépense total : 651$</p>
                <!-- Revenue généré -->
                <p class="mb-1">Revenue généré : Les revenus de Kitabus ont été générés majoritairement à travers les
                    boosts d'articles sur la plateforme, nos différents placements de posts et le label urgent assigné
                    aux articles.<br> Montant : 78 510F (~130$)</p>
            </div>

            <!-- Zawadi -->
            <div class="mb-4">
                <h3 class="text-lg font-semibold mb-2">Zawadi</h3>
                <p>
                    Après avoir analysé longtemps les habitudes d'achats des consommateurs africains, et fort de
                    l'expérience tirée avec Kitabu, en novembre 2022, nous avons remarqué qu'un frein majeur à
                    l'évolution du commerce électronique en Afrique est le manque de confiance. Pour résoudre ce
                    problème, nous avons mis en place Zawadi, un service digital où l'acheteur enregistre une commande
                    et est ensuite contacté directement sur WhatsApp par des vendeurs.
                </p>
                <!-- Budget marketing -->
                <p class="mb-1">Budget marketing :</p>
                <ul class="list-disc list-inside mb-2">
                    <li>Nous avons fait de la publicité à travers Facebook Ads. Nous faisons environ 2 posts par semaine
                        sur
                        Facebook et nous sponsorisons le post qui a attiré le plus de monde. Nous avons prévu un budget
                        maximum de 50.000FCFA (~ 80$)</li>
                </ul>
                <!-- Coût total -->
                <p class="mb-1">Coût total :</p>
                <ul class="list-disc list-inside mb-2">
                    <li>Budget marketing : 80$</li>
                    <li>Hébergement en ligne et autres coûts techniques :
                        <ul class="list-disc list-inside">
                            <li>Heroku Dynos : 7$ / mois</li>
                            <li>Heroku Data for Redis : ~15$ / mois</li>
                            <li>Heroku Postgres (base de données) : 5$ / mois (3 premiers mois) + 9$ / mois (5 mois)
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Dépense total -->
                <p class="mb-1">Dépense total : 316$</p>
                <!-- Revenue généré -->
                <p class="mb-1">Revenue généré : Les revenus de Kitabus ont été générés majoritairement à travers
                    l'abonnement des vendeurs selon la formule qui leur convient. Nous avons eu environ 10 vendeurs en
                    moyenne qui se sont abonnés 5 mois à 500F le mois. Nous tenons à rappeler que Zawadi étant
                    majoritairement conçu en bêta test, nous n'avions même pas espéré que nous pouvions faire des
                    revenus. <br> Montant : 25.000FCFA (~42$)</p>
            </div>

            <!-- Statusmax -->
            <div>
                <h3 class="text-lg font-semibold mb-2">Statusmax</h3>
                <p>
                    Les deux projets cités précédemment ont tous beaucoup de potentiel mais nécessiteraient énormément
                    de fonds surtout dans le marketing pour pouvoir s'installer dans les habitudes des utilisateurs. Et
                    après nos analyses, nous avons constaté que cela est valable pour tout projet dans l'industrie du
                    commerce électronique. De plus après deux années d'activités, il est temps que nous pensions
                    maintenant à notre rentabilité afin de pouvoir agrandir l'entreprise, recruter plus de monde et
                    satisfaire les actionnaires.
                </p>
                <p>
                    Pour atteindre cela, nous avons longuement réfléchi et établi un plan vers la rentabilité. Nous
                    sommes conscients du fait que, pour appliquer ce plan avec succès le premier défi à relever consiste
                    à trouver un canal de marketing assez efficace et moins coûteux pour faire aisément la promotion de
                    notre futur projet. C'est ainsi que Statusmax voit le jour. À travers ce projet, nous voulons mettre
                    à la disposition de Elife Global une communauté active que nous contrôlons, cela nous évite de subir
                    le coût élevé des campagnes sur d'autres plateformes. D'un point de vue technique, StatusMax est une
                    technologie qui automatise la promotion de contenu à travers les statuts WhatsApp.
                </p>
                <!-- Budget marketing -->
                <p class="mb-1">Budget marketing :</p>
                <ul class="list-disc list-inside mb-2">
                    <li>Nous avons principalement fait de la publicité à travers Facebook Ads. Nous avons acquis une
                        communauté de près de 3000 personnes que nous pouvons atteindre à travers le statut de 110
                        partenaires.</li>
                </ul>
                <!-- Coût total -->
                <p class="mb-1">Coût total :</p>
                <ul class="list-disc list-inside mb-2">
                    <li>Budget marketing : 40$</li>
                    <li>Hébergement en ligne et autres coûts techniques :
                        <ul class="list-disc list-inside">
                            <li>Heroku Dynos : 7$ / mois</li>
                            <li>Heroku Data for Redis : ~15$ / mois</li>
                            <li>Heroku Postgres (base de données) : 5$ / mois (3 premiers mois) + 9$ / mois (1 mois)
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Dépense total -->
                <p class="mb-1">Dépense total : 152$</p>
            </div>
        </section>

        <!-- Projet futur et vision -->
        <section>
            <h2 class="text-xl font-bold mb-2">Projet futur et vision :</h2>
            <p>Après deux années d'activités, notre objectif principal n'a pas changé. Il s'agit notamment de la mise en
                place
                d'un produit digital capable d'améliorer la vie de millions de personnes. Cependant, aujourd'hui nos
                stratégies
                resteront axées sur la rentabilité de nos produits. C'est-à-dire qu'à partir de maintenant, nos produits
                seront
                conçus dès le départ dans le but de faire de l'argent.</p>
            <p>En effet, les applications générant le plus de revenus en 2023 sont les applications de streaming
                (YouTube,
                Disney+, TikTok...), les applications de jeux vidéos (Genshin Impact, Fortnite, Roblox...) et les
                applications
                de rencontres (Tinder, Badoo, Azar...).</p>
            <p>Après analyse, et en fonction de l'investissement, de la technologie requise et du temps de travail
                nécessaire,
                nous ne pouvons pas encore nous lancer dans les jeux vidéos. Concernant les applis de streaming, la
                concurrence
                est rude en Afrique et il faudrait un investissement colossal pour rivaliser avec les géants de cette
                industrie.
                Il ne reste plus donc que les applis de rencontre.</p>
            <p>Nous avons conçu notre application de rencontre pour qu'elle puisse répondre aux besoins de ses
                utilisateurs tout
                en les plongeant dans un état de divertissement et de plaisir. Et pour nous aider au lancement et
                diriger les
                opérations, nous avons accepté l'entrée d'un nouvel actionnaire au capital de l'entreprise qui a pu
                tester
                l'application et croit énormément en son potentiel.</p>
            <p>Nous croyons fermement en la réussite de ce projet et sommes prêts à travailler et nous adapter afin d'en
                faire
                une référence dans le secteur.</p>
        </section>
    </div>
</body>

</html>