<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Celibapps - Politique de Confidentialité</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body class="bg-gray-100">

  <div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-8">Politique de Confidentialité - Celibapps</h1>

    <section class="mb-8">
      <p>Cette Politique de Confidentialité décrit la manière dont Celibapps collecte, utilise et partage vos informations personnelles lorsque vous utilisez notre application Celibapps.</p>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-bold mb-4">Collecte d'Informations</h2>
      <p>Nous collectons les informations que vous fournissez volontairement lors de la création d'un compte, de la mise à jour de votre profil, de la participation à des sondages, et de l'utilisation générale de l'Application. Les informations collectées peuvent inclure votre nom, adresse e-mail, photo de profil, préférences personnelles, etc.</p>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-bold mb-4">Utilisation des Informations</h2>
      <p>Nous utilisons les informations collectées pour personnaliser votre expérience utilisateur, améliorer nos services, vous envoyer des notifications pertinentes, et faciliter les interactions entre utilisateurs. Nous ne vendons ni ne louons vos informations personnelles à des tiers.</p>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-bold mb-4">Partage d'Informations</h2>
      <p>Nous pouvons partager vos informations personnelles avec des tiers de confiance pour fournir des services spécifiques liés à l'Application, tels que le traitement des paiements ou l'envoi de notifications. Nous nous engageons à ne partager vos informations qu'avec votre consentement.</p>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-bold mb-4">Sécurité des Données</h2>
      <p>Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations contre tout accès non autorisé, altération, divulgation ou destruction. Cependant, veuillez noter qu'aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée.</p>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-bold mb-4">Modifications de la Politique de Confidentialité</h2>
      <p>Nous nous réservons le droit de mettre à jour cette Politique de Confidentialité à tout moment. Les modifications seront publiées sur cette page, et la date de la dernière mise à jour sera indiquée en haut de la page.</p>
    </section>

    <section class="mb-8">
      <h2 class="text-xl font-bold mb-4">Contact</h2>
      <p>Si vous avez des questions concernant cette Politique de Confidentialité, veuillez nous contacter à l'adresse suivante : <a href="mailto:privacy@celibapps.com" class="text-blue-500">privacy@celibapps.com</a>.</p>
    </section>
  </div>

</body>

</html>
